@model iLoyalty.Models.CBoxList
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{

    <div class="container row p-0 m-0 border p-3">
        <div class="col-12">
            <h2 class="text-info">Data Sets</h2>
        </div>
        <div class="col-6 border p-3">

            @for (int i = 0; i < Model.cboxlist.Count; i++)
            {
                @Html.CheckBoxFor(m => Model.cboxlist[i].isChecked)
                <label class="text-info">
                    @Model.cboxlist[i].boxName
                </label>
                @Html.HiddenFor(m => Model.cboxlist[i].boxId)
                @Html.HiddenFor(m => Model.cboxlist[i].boxName)
                <br />
            }
        </div>
        <div class="col-6">
            <div>
                <h4 class="text-info">Model Name</h4>
            </div>
            <div style="padding-bottom:10px;">
                <input type="text" name="name" placeholder="Enter desired name..." required="" style="width:100%;">
            </div>
            <div>
                <input type="submit" value="CREATE MODEL" class="btn btn-success" />
            </div>
        </div>
    </div>

    <div class="container row p-0 m-0">
        <div class="col-12">
            <h2 class="text-info">@ViewBag.msg</h2>
        </div>
    </div>

}
