@model iLoyalty.Models.CBoxList
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2 class="text-info">Create Machine Learning Model</h2>
    </div>
    <div class="col-2">
        <a asp-controller="DashBoard" asp-action="Index" class="btn btn-danger form-control text-white">Back</a>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="container row p-0 m-0 border p-3">
        <div class="col-6 border p-3">
            <h5 class="text-info">Select Data</h5>
            <div>
                @for (int i = 0; i < Model.cboxlist.Count; i++)
                {
                    @Html.CheckBoxFor(m => Model.cboxlist[i].isChecked)
                    <label class="text-info">
                        @Model.cboxlist[i].boxName
                    </label>
                    @Html.HiddenFor(m => Model.cboxlist[i].boxId)
                    @Html.HiddenFor(m => Model.cboxlist[i].boxName)
                    <br />
                }
            </div>
        </div>
        <div class="col-6 p-3">
            <h5 class="text-info">Information</h5>
            <hr />
            <div class="form-group">
                <label class="text-secondary">Training Period</label>
                <input value="Select start date" readonly="readonly" class="form-control datepicker" />
            </div>
            <div class="form-group">
                <input type="text" name="name" placeholder="Enter model name..." required="" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="creator" placeholder="Enter your name..." required="" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" id="info" value="CREATE MODEL" class="btn btn-info form-control text-white" />
            </div>
            @if (@ViewBag.msg != null)
            {
                <p class="toaster"> Model successfully created!</p>
                <div class="row" id="qwerty">
                    <div class="col-12 p-3">
                        <h5 onload="loadToast()" class="text-info">Evaluation Results</h5>
                        <hr />
                        <div>
                            <label class="text-muted">Precision: </label>
                            @ViewBag.precision
                        </div>
                        <div>
                            <label class="text-muted">Recall: </label>
                            @ViewBag.recall
                        </div>
                        <div>
                            <label class="text-muted">Accuracy: </label>
                            @ViewBag.accuracy
                        </div>
                        <div>
                            <label class="text-muted">F1_Score: </label>
                            @ViewBag.f1_score
                        </div>
                        <div>
                            <label class="text-muted">log_loss: </label>
                            @ViewBag.log_loss
                        </div>
                        <div>
                            <label class="text-muted">roc_auc: </label>
                            @ViewBag.roc_auc
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <h4 class="text-info toaster">@ViewBag.msg</h4>
                </div>
            }

        </div>
    </div>
}

@section Scripts{
    <script src="~/js/model.js"></script>
}